@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

/* fundo da tela */
body {
    background-color: #131212;

}

/* ------------------------------COMEÇO APRESENTAÇÃO------------------------ */
.containerApresentacao {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
   

}
.linha{
    position: absolute;
    top: 10vh;
    display: flex;
    background-color: #8C52FF;
    width: 4px;
    height:170vh;
    box-shadow: 0px 10px 10px #000000a2;
    position: relative; 
    bottom: 5vh;
    transform: translateX(61vw)scale(1) rotate(-50deg);
     z-index: -1;   
}
.linha1{
    position: absolute;
    top: 10vh;
    display: flex;
    background-color: #8C52FF;
    width: 4px;
    height:290vh;
    box-shadow: 0px 10px 10px #000000a2;
    position: relative; 
    bottom: 5vh;
    transform: translateX(30vw)scale(1) rotate(60deg);
     z-index: -1;   
}

.conteudoApresentacao {
    display: flex;
    width: 100vw;
    height: 100vh;
}


.coluna1,
.coluna2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}


.colunaConteudo1 {
    width: 50vw;
    height: 30vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 10vh;
    position: relative;

  

}

.colunaConteudo2 {
    width: 50vw;
    height: 30vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 10vh;
    position: relative;
    left: 5vw;



}

.globo {
    width: 22vw;
    height: 40vh;


}

.textoGlobo {
    font-weight: bold;
    font-size: 17px;
    color: aliceblue;
    margin-top: 4vh;
    

}

.seven {
    width: 25vw;
}

.btnSeven {
    color: aliceblue;
    background: none;
    border-radius: 30px;
    display: flex;
    width: 7vw;
    height: 4vh;
    content: " ";
    overflow: hidden;
    border-color: rgb(192, 18, 226);


}

.btnSeven,
p {
    font-size: 13px;
    justify-content: center;
    align-items: start;
    position: relative;
    margin-top: 0.5vh;

}






/* sobre nós */
.containerSobre{
    margin-top: 10vh;
    width: 90vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    
}
.sobreNós {
    background-color: #9f76f9c0;
    width: 80vw;
    height: 35vh;
    border-radius: 45px;
    justify-content: start;
    align-items: center;
    display: flex;
    flex-direction: row;

}

.sobreNós2 {
    width: 20vw;
    height: 25vh;
    border-radius: 25px;
    display: flex;
    justify-content: start;   
    align-items: start; 
    margin-right: 2vw;
    margin-left: 2vw;
    flex-direction: row;
    background-color: #5100ffc0;

}

.fotoGrupo{
    width: 20vw;
    height: 25vh;
    border-radius: 25px;   
}
.textoGrupo{
    font-size: xx-large;
    font-weight: bold;
    width: 45vw;
    height: 20vh;
}
.textoFoto{
    width: 50vw;
    height:10vh;
}
.tituloFoto{
    
}
/* ------------------------------------------------------NOSSOS PROJETOS---------------------------------------------------------------- */
.flipLegenda {
    display: flex;
    margin: 40px;
    
}

.containerCard {
    position: relative;
    width: 200px;
    height: 200px;
    margin-top: 100px;
    margin-top: 100px;


}

.containerCard:hover .flip {
    transform: rotateY(180deg);

}

.flip {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 1s;


}

.frente,
.verso {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0px 15px 10px #000000a2;
    border-radius: 25px;
    backface-visibility: hidden;

}

.frente {
    background-color: rgb(92, 0, 128);

}

.verso {
    background-color: rgb(192, 18, 226);
    transform: rotateY(180deg);

}

.cadrPosition {
    display: flex;
    flex-direction: row;
}
.listraSombra{
    display: flex;
    background-color: white;
    width: 100%;
    height: 70px;
    box-shadow: 0px 10px 10px #000000a2;
    position: relative; 
    bottom: 5vh;
    z-index: -1;

}





/* -----------------------------------------------FOOTER-------------------------------------------------------- */


li {
    list-style-type: none;
}

#logo {
    width: 100px;
    height: auto;

}

.navbar {
    box-shadow: 5px 5px 20px 0.5px rgb(92, 0, 128);
    padding: 0.7%;
    font-weight: bold;
}

.nav-item:hover {
    border-bottom: 3px solid rgb(192, 18, 226);
    transition: 0.2s ease-out;
}