@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

/* ------------------------------------------------------Cor De Fundo ---------------------------------------------------------------- */
body {
    background-color: #fcfcfc;

}




/* ------------------------------------------------------------NAVBAR--------------------------------------------------------- */
li {
    list-style-type: none;
}

#logo {
    width: 100px;
    height: auto;

}



.nav-item {
    position: relative;
    padding-bottom: 5px; /* Ajuste conforme necessário */
  

}

.nav-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: rgb(192, 18, 226);
    transition: width 0.6s ease-out;
   
}

.nav-item:hover::after {
    width: 100%;
}



.linkNav{
    color: black;
}
/* --------------------------------MODO ESCURO E CLARO----------------------- */
body[data-theme="dark"] {
    transition: 0.5s;
    background-color: #292828;
    color: #fbf9f1;
   
        /* background-image: url(/img/Background-Dark.png);
        background-repeat: no-repeat;
        background-position:top; */
      

    
    /* Estilo para parágrafos no tema escuro */
    p {
        color: white;
    }
    #btn-dark-mode {
        color: rgb(226, 212, 18);
        transition: 0.8s;        
    }
    #btn-dark-mode:hover {
        transition: 0.8s; /* Adicionado a transição */
        transform: scale(1.2); /* Corrigido o valor da transformação */
        color: rgb(226, 212, 18);
    }
    .visually-hidden {
        color: white;
    }
    a {
        color: white;
    }
    .sobre-nos {
        background-color: rgb(61, 59, 64);
    }
    .card-title {
        display: flex;
        color: white;
    }
    .card-text {
        color: rgb(192, 18, 226);
        font-weight: bold;
    }

    .linkNav{
        color: white;
    }

    .footerColor{
        color: white;
    }

    .subtitulos{
        color: black;
    }

    .subtitulos2{
        color: white;
    }

}


/* Tema claro */
body[data-theme="light"] {
    transition: 0.5s;
    background-color: #fbf9f1;
    color: #222121;

        /* Estilo para o botão de alternar tema no tema claro */
    button{
        color: white;
    }
    button:hover{
        color: black;
    }
    .carousel-control-next-icon{
        background-color: #222;
        color: black;
    }
    .carousel-control-prev-icon{
      
        color: black;
    }

    .card-title{
        display: flex;
       color: black;
       
    }
    .subtitulos{
        color: white; 
    }
    .subtitulos2{
        color: black; 
    }

    .footerColor{
        color: black;
    }

}   


/* Estilo para as divs */
.div-cadastro-btn ,#btn-dark-mode{
 border: none;
 background-color: #fbf9f100;
 color: black;
 margin-right: 20px;

}


/* ------------------------------------------------------COMEÇO APRESENTAÇÃO---------------------------------------------------------------- */

a .nav-item {
    color:#000000a2
}

.containerApresentacao {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
   

}

.linha{
    position: absolute;
    top: 10vh;
    display: flex;
    background-color: #070016;
    width: 4px;
    height:156vh;
    box-shadow: 0px 10px 10px #000000a2;
    position: relative; 
    bottom: 5vh;
    transform: translateX(61vw)scale(1) rotate(-50deg);
     z-index: -1;   
}
.linha1{
    position: absolute;
    top: 10vh;
    display: flex;
    background-color: #8C52FF;
    width: 4px;
    height:199vh;
    box-shadow: 0px 10px 10px #000000a2;
    position: relative; 
    bottom: 5vh;
    transform: translateX(30vw)scale(1) rotate(60deg);
     z-index: -1;   
}

.conteudoApresentacao {
    display: flex;
    width: 100vw;
    height: 100vh;
}


.coluna1,
.coluna2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}


.colunaConteudo1 {
    width: 50vw;
    height: 30vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 10vh;
    position: relative;
    right: 9vw;
  

}

.colunaConteudo2 {
    width: 50vw;
    height: 30vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 10vh;
    position: relative;
    left: 5vw;



}

.globo {
    width: 30vw;
    height: 50vh;
    margin-top: 50px;
    position: relative;
   


}

.textoGlobo {
    font-weight: bold;
    font-size: 17px;
    color: rgb(1, 1, 1);
    margin-top: 4vh;
    position: relative;
    left: 8vw;
    bottom: 5vh;
    

}

.seven {
    width: 25vw;
    position: relative;
    top:4vh;
}

.btnSeven {
    color: aliceblue;
    background: none;
    border-radius: 30px;
    display: flex;
    width: 8vw;
    height: 5vh;
    content: " ";
    text-align: center;
    border-color: #8C52FF;
    position: relative;
    right: 20vw;



}

.btnSeven,
p {
    font-size: 13px;
    justify-content: center;
    align-items: start;
    position: relative;
    margin-top: 0.7vh;
    right: 0.1vw;
    color: #000000a2;

}







/* ------------------------------------------------------ Sobre Nós---------------------------------------------------------------- */
.containerSobre{
    margin-top: 10vh;
    width: 90vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sobreNós {
    background-color: #8c52ff6b ;
    width: 80vw;
    height: 35vh;
    border-radius: 45px;
    justify-content: start;
    align-items: center;
    display: flex;
    flex-direction: row;

}

.sobreNós2 {
    width: 20vw;
    height: 25vh;
    border-radius: 25px;
    display: flex;
    justify-content: start;   
    align-items: start; 
    margin-right: 2vw;
    margin-left: 2vw;
    flex-direction: row;
    background-color: #8C52FF ;

}

.fotoGrupo{
    box-shadow: 0px 10px 20px #0000009a;
    width: 20vw;
    height: 25vh;
    border-radius: 25px;   
}
.textoSobre{
    font-size: 22px;
    width: 45vw;
    height: 20vh;
    word-spacing: 1px; 
    left: 8px;
    top: 5vh;
    
}
.textoSobre{
    font-weight: bold;
    width: 45vw;
    height: 20vh;
    word-spacing: 1px; 
    margin-bottom: 50px;
}

.textoFoto{
    width: 50vw;
    height:10vh;
}

.tituloFoto{
    
}


/* ------------------------------------------------------NOSSOS PROJETOS---------------------------------------------------------------- */
.flipLegenda {
    color: #8C52FF ;
    display: flex;
    margin: 40px;
    
}

.containerCard {
    position: relative;
    width: 250px;
    height: 250px;
    margin-top: 100px;
    margin-top: 100px;


}

.containerCard:hover .flip {
    transform: rotateY(180deg);

}

.flip {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 1s;


}

.frente,
.verso {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0px 15px 10px #0a0a0aa2;
    border-radius: 25px;
    backface-visibility: hidden;

}

.frente {
    background-color: rgb(92, 0, 128);

}

.verso {
    background-color: #8C52FF;
    transform: rotateY(180deg);

}

.cadrPosition {
    display: flex;
    flex-direction: row;
}
.listraSombra{
    display: flex;
    background-color: #8C52FF;
    width: 100%;
    height: 70px;
    box-shadow: 0px 10px 10px #0000007b;
    position: relative; 
    bottom: 5vh;
    z-index: -1;

}





/* -----------------------------------------------FOOTER-------------------------------------------------------- */




.textoFooter{}

h2 {
    color: #070016;
}



/* ---------------------------------------Contatoform----------------------------------------------------------- */

.formContato input{
    background-color: #ADACAF;
    border-radius: 90px;
    height: 5vh;
    width:30vw;
    right: 100%;
    top:15px;

}

.formContato {
    position: relative;
    right: 5%; 
    padding: 20px;
  
}